<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | Inventory System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

    <nav class="navbar">
        <div class="logo">Inventory Management System</div>
        <a href="{{url_for('admin.adminsignup')}}" class="signup-btn">Signup</a>
    </nav>

    <div class="container">
        <div class="login-card">
            <h2>Welcome Back</h2>
            <p class="subtitle">Login to continue</p>

            <form method="POST" >
                <div class="input-group">
                    <label>Name</label>
                    <input type="text" name="name" placeholder="Enter your name" required>
                </div>

                <div class="input-group">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Enter your password" required>
                </div>

                <button type="submit" class="login-btn">Login</button>
            </form>
        </div>
    </div>

</body>
</html>