<!DOCTYPE html>
<html>
<head>
    <title>Signup - Inventory Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
</head>
<body>

    <div class="navbar">
        <h2>Inventory-Management-System</h2>
        <a href="{{url_for('admin.adminlogin')}}">Login</a>
    </div>

    <div class="login-container">
        <h2>Signup</h2>

        <form method="POST">

            <label>Name :</label>
            <input type="text" name="name" placeholder="Enter Your Name :" required>

            <label>Password :</label>
            <input type="password" name="password" placeholder="Enter Your Password :" required>

            <label>Admin ID :</label>
            <input type="text" name="admin_id" placeholder="Enter Admin ID :" required>

            <button type="submit">Submit</button>

        </form>
    </div>

</body>
</html>